/* ==========================================================================
   BASE (normalize 2.0)
   ========================================================================== */

html{
    box-sizing: border-box;
}

*,*::after,*::before{
    box-sizing: inherit;
}

/*------------------------------------------*/

:root {
    /*---Couleurs de base---*/
    --color-white: #fff;
    --color-black: #000;
    --color-active: #fbbc05;

    /*---Couleurs du projet---*/
    --color-primary: #2D2D2D;
    --color-secondary: #fff;

    --color-gradient: linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);

    /*---Couleurs du background---*/
    --color-bg-primary: #fff;
    --color-bg-secondary: #F5F5F5;


    /*---Couleurs du formulaire---*/
    --color-disable: #D1D5DB;
    --color-sucess: #71dd1d;
    --color-fail: #d63908;

    /*---Font-family---*/
    --font-primary: 'Source Sans Pro', Helvetica, sans-serif;
    --font-secondary: 'Source Sans Pro', Helvetica, sans-serif;

    /*---Font-size---*/
    --font-size-content: 1.125rem;

    --font-size-button: 1.5rem;

    --font-size-h1: 3rem;
    --font-size-h2: 3rem;
    --font-size-h3: 1.17rem;
    --font-size-h4: 1rem;
    --font-size-h5: 0.83rem;
    --font-size-h6: 0.67rem;

    /*---Wrapper width---*/
    --breakpoint-wrapper: 1140px;

    /*---Spacing---*/
    --spacing-xxs: 8px;
    --spacing-xs: 16px;
    --spacing-sm: 24px;
    --spacing-md: 32px;
    --spacing-lg: 40px;
    --spacing-xl: 48px;
    --spacing-xxl: 64px;
    --spacing-xxxl: 96px;
}

/*------------------------------------------*/

html{
    scroll-behavior: smooth;
}

body{
    font-size: var(--font-size-content);
    font-family: var(--font-primary);
    line-height: 1.75;
    color: var(--color-primary);
    background: var(--color-bg-primary);
    font-weight: 300;
}

.wrapper{
    margin: 0 auto;
    max-width: var(--breakpoint-wrapper);
}

@media screen and (max-width: 1140px) {
    .wrapper {
        padding: 0 20px;
    }
}

a{
    color: inherit;
    text-decoration: none;
}
a:hover{
    color: var(--color-active);
}

ul{
    list-style: none;
}

section{
    margin:0 0 100px 0;
}

p{
    margin: 50px 0;
}

/*------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    margin: 50px 0;
}

h1 {
    font-size: var(--font-size-h1);
}

h2 {
    font-size: var(--font-size-h2);
}

h3 {
    font-size: var(--font-size-h3);
}

h4 {
    font-size: var(--font-size-h4);
}

h5 {
    font-size: var(--font-size-h5);
}

h6 {
    font-size: var(--font-size-h6);
}

/* ==========================================================================
   New css
   ========================================================================== */

/*---BTN--*/

.btn{
    border: 1px var(--color-bg-secondary) solid;
    border-radius: 5px;
    padding: 12px 40px;
}

/*---HEADER--*/
.header{
    background: var(--color-bg-secondary);
}

.header__nav{
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 70px;
}

.header__nav ul{
    display: flex;
    gap: 50px;
    padding: 0;
}

.header__nav__mobile{
    display: none;
}

.header__nav__mobile span{
    height: 5px;
    width: 40px;
    background: var(--color-black);
    border-radius: 5px;
}

/*---HEADER RESPONSIVE--*/

@media screen and (max-width: 600px){
    .header__nav ul{
        display: none;
    }

    .header__nav__mobile{
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .header__nav{
        justify-content: flex-end;
    }
}